@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "./global";
@import "./variable";

// ===== Button =====
.btn {
  border-radius: 5px;
  outline: none;
  border-style: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.btn-primary {
  background-color: $secondary-color;

  &:hover {
    background-color: $secondary-color-hover;
  }
}

.btn-sign {
  width: 100px;
  height: 30px;
  margin-left: 1rem;
  cursor: pointer;
}

// ===== Navbar =====
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: $primary-color;
}

// ===== Footer =====
footer {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  padding: 1rem;
}

// ===== Homepage =====
.hero-container {
  background-color: $primary-color;
  padding: 2.5rem 14rem;
  display: flex;
  justify-content: center;

  section {
    width: 966px;
    display: flex;
    align-items: center;

    .hero-text {
      h1 {
        font-size: 3.43rem;
        color: $secondary-color;
        font-weight: 700;
        line-height: 1.4;
        margin-right: 1.5rem;
        white-space: nowrap;
      }

      p {
        color: #000;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: justify;
        width: 450px;
        line-height: 1.4;
        margin-top: -1rem;

        &::before {
          content: "";
          display: block;
          float: left;
          width: 150px;
          height: 100px;
          margin-right: 1.5rem;
          border-top: 2px solid $secondary-color;
          border-radius: 2px;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

// === popular restaurant
.container {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .menu-item {
      display: flex;
      align-items: center;
      background-color: #fff;
      width: 325px;
      height: 95px;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 1.5rem;
      cursor: pointer;

      .img-item {
        width: 65px;
        height: 65px;
        margin-right: 1.1rem;
      }
    }
  }
}

// === near restauran
.container {
  .near-restaurant {
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;

    .name-restaurant {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 325px;
      height: auto;
      padding: 0.875rem;
      border-radius: 5px;
      cursor: pointer;

      .img-restaurant {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        align-self: center;
      }

      p {
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}
